name: CI

on:
  push:
    branches: [main]
    paths:
      - 'RNMasonryExample/**'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install modules
      run: yarn

    - name: Check linting
      run: yarn lint

    - name: Build typescript
      run: yarn build
